.article-nav {
  display: flex;
  margin-top: 0;
  position: relative;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 0; }
  .article-nav:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    background: #E5E4E1;
    z-index: 2; }
    .article-nav .article-nav-seperator {
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      position: absolute;
      background-color: #000000; }
      .article-nav a.article-nav-left, .article-nav a.article-nav-right {
        width: 50%;
        display: flex;
        color: #606060; }
        .article-nav a.article-nav-left:hover i, .article-nav a.article-nav-right:hover i {
          color: #FF8080; }
        .article-nav a.article-nav-left:not(.article-nav-left-empty),
        .article-nav a.article-nav-right:not(.article-nav-left-empty) {
          text-decoration: none; }
          .article-nav a.article-nav-left:not(.article-nav-left-empty):hover,
          .article-nav a.article-nav-right:not(.article-nav-left-empty):hover {
            background-color: #F8F8F8; }
            .article-nav a.article-nav-left:not(.article-nav-left-empty):active,
            .article-nav a.article-nav-right:not(.article-nav-left-empty):active {
              -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.025);
              -moz-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.025);
              box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.025); }
              .article-nav a.article-nav-left:not(.article-nav-left-empty):not(:hover),
              .article-nav a.article-nav-right:not(.article-nav-left-empty):not(:hover) {
                background-color: #FFFFFF;
                -webkit-box-shadow: inset none;
                -moz-box-shadow: inset none;
                box-shadow: inset none; }
        .article-nav a.article-nav-left i, .article-nav a.article-nav-right i {
          display: flex;
          align-items: center;
          color: #E0E0E0;
          margin-top: auto;
          margin-bottom: auto;
          font-size: 20pt;
          line-height: 20pt;
          text-align: center; }
          .article-nav a.article-nav-left i.ic-arrow-left,
          .article-nav a.article-nav-right i.ic-arrow-left {
            left: 0; }
            .article-nav a.article-nav-left i.ic-arrow-left::before,
            .article-nav a.article-nav-right i.ic-arrow-left::before {
              margin-left: -6px;
              margin-right: -6px; }
          .article-nav a.article-nav-left i.ic-arrow-right,
          .article-nav a.article-nav-right i.ic-arrow-right {
            right: 0;
            margin-left: auto; }
            .article-nav a.article-nav-left i.ic-arrow-right::before,
            .article-nav a.article-nav-right i.ic-arrow-right::before {
              margin-right: -6px;
              margin-left: -6px; }
        .article-nav a.article-nav-left .article-nav-teaser,
        .article-nav a.article-nav-right .article-nav-teaser {
          padding: 20px 0;
          min-height: 60px; }
          .article-nav a.article-nav-left .article-nav-teaser .article-nav-title,
          .article-nav a.article-nav-right .article-nav-teaser .article-nav-title {
            padding: 0;
            font-weight: bold;
            margin: 0 0 0 0;
            font-size: 10pt;
            line-height: 15pt;
            color: inherit; }
            .article-nav a.article-nav-left .article-nav-teaser .article-nav-excerpt,
            .article-nav a.article-nav-right .article-nav-teaser .article-nav-excerpt {
              margin: 0;
              font-size: 8pt;
              line-height: 12pt;
              word-break: break-all; }
  .article-nav a.article-nav-left {
    float: left; }
    .article-nav a.article-nav-left .article-nav-teaser {
      padding-right: 20px;
      padding-left: 16px; }
  .article-nav a.article-nav-right {
    float: right; }
    .article-nav a.article-nav-right .article-nav-teaser {
      padding-left: 20px;
      padding-right: 16px; }
