/*
author: Taehong Kim
email: peppy0510@hotmail.com
*/


.article-comment {
    display: none;
    margin-top: 30px;
    $border-color: #E8E8E8;
    .comment-title {
        .comment-count {
            font-size: 10pt;
            color: #808080;
            padding: 0 8px 8px 0;
        }
    }
    .comment-input {
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        overflow: hidden;
        border: 1px solid $border-color;
        input {
            border: none;
            box-shadow: none;
            &:not(:first-child) {
                border-left: 1px solid $border-color;
            }
        }
        input,
        textarea {
            outline: none;
            font-size: 10pt;
            padding: 5px 8px;
            font-family: Arial, Helvetica, sans-serif;
            &::placeholder {
                font-size: 10pt;
                color: #C0C0C0;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .comment-body {
            width: 100%;
            display: flex;
            #comment-content {
                width: 100%;
                border: none;
                min-width: 100%;
                max-width: 100%;
                min-height: 50px;
                box-shadow: none;
                line-height: 12pt;
                border-bottom: 1px solid $border-color;
            }
        }
        .comment-foot {
            width: 100%;
            display: flex;
            #comment-username {
                width: 100%;
            }
            #comment-email {
                width: 100%;
            }
            #comment-submit-button {
                border: none;
                outline: none;
                font-size: 10pt;
                cursor: pointer;
                box-shadow: none;
                background: none;
                color: #808080;
                width: 100%;
                padding: 4px 8px;
                margin-left: auto;
                align-items: center;
                background-color: #F8F8F8;
                border-left: 1px solid $border-color;
                &:hover {
                    background-color: #F0F0F0;
                }
                &:active {
                    background-color: #E8E8E8;
                }
            }
        }
    }
    .comment-list {
        .comment-instance {
            display: flex;
            color: #808080;
            font-size: 10pt;
            overflow: hidden;
            flex-direction: column;
            border: 1px solid #E8E8E8;
            &:not(:last-child) {
                border-bottom: none;
            }
            .comment-head {
                display: flex;
                background-color: #F8F8F8;
                padding: 5px 8px;
                min-height: 35px;
                align-items: center;
                .username {
                    font-weight: bold;
                    &:before {
                        // content: 'Username: ';
                    }
                }
                .email {
                    // margin-left: auto;
                    // margin-right: auto;
                    padding-left: 5px;
                    padding-right: 5px;
                    word-break: break-all;
                    &:before {
                        content: '(';
                        // content: 'Email: ';
                    }
                    &:after {
                        content: ')';
                        // content: 'Email: ';
                    }
                }
                .registered {
                    margin-left: auto;
                    &:before {
                        // content: 'commented on ';
                        // content: 'Email: ';
                    }
                }
            }
            .comment-body {
                min-height: 35px;
                padding: 8px 8px 8px 8px;
                align-items: center;
                color: #404040;
                font-size: 10pt;
                line-height: 14pt;
                .comment-content {
                }
            }
        }
    }
}
