{% extends "common.html" %}
<!--  -->
{% block title %}
{{ SITENAME }} - Archives
{% endblock %}
<!--  -->
{% block header %}
<header class="archives-header">
    <div class="container">
        <div class="header-title">Find in Archives</div>
        <span class="article-meta"></span>
    </div>
</header>
{% endblock header %}
<!--  -->
{% block content %}
<main class="archives-body">
    <div class="container">
        <!-- {% for article in dates %} -->
        <article class="article">
            <span class="title">
                <a href="/{{ article.url }}">
                    {{ article.title }}
                </a>
            </span>
            <span class="datetime">
                <label>{{ article.locale_date }}<label>
            </span>
        </article>
        <!-- {% endfor %} -->
    </div>
</main>
{% endblock content %}