<!-- <div class="article-comment" style="display: none;"> -->
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
<div class="article-comment">
    <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LcnNssUAAAAANySULRyd7iJgo5ZnaNek0n147sw"></script>
    <script>
    grecaptcha.ready(function() {
        console.log(grecaptcha);
        grecaptcha.execute('6LcnNssUAAAAANySULRyd7iJgo5ZnaNek0n147sw', { action: 'homepage' }).then(function(token) {
            // console.log(token);
        });
    });
    </script> -->
    <div class="comment-title">
        <div class="comment-count"></div>
    </div>
    <div class="comment-input">
        <!-- <input type="checkbox" name="vehicle1" value="Bike">비공개 -->
        <!-- <div class="comment-head">
            <input type="text" id="comment-username" placeholder="Name (optional)">
            <input type="text" id="comment-email" placeholder="Email (optional)">
            <input type="text" id="comment-password" placeholder="Website (optional)">
        </div> -->
        <div class="comment-body">
            <textarea type="text" id="comment-content" placeholder="Comment (at least 3 chars)"></textarea>
        </div>
        <div class="comment-foot">
            <input type="text" id="comment-username" placeholder="Name (optional)">
            <input type="text" id="comment-email" placeholder="Email (optional)">
            <button id="comment-submit-button" onclick="onClickSubmitCommentButton()">Submit</button>
        </div>
        <!-- <div class="comment-foot">
            <button id="comment-submit-button">Submit</button>
        </div> -->
    </div>
    <!-- <form action="?" method="POST">
        <div class="g-recaptcha" data-sitekey="6Ld1NssUAAAAAEM2hYcL-8i--XOaWilVnt-vMGWQ"></div>
        <br />
        <input type="submit" value="Submit">
    </form> -->
    <div class="comment-list">
    </div>
</div>