<div class="article-comment" style="display: none;">
    <div class="comment-title">
        <div class="comment-count"></div>
    </div>
    <div class="comment-input">
        <!-- <input type="checkbox" name="vehicle1" value="Bike">비공개 -->
        <!-- <div class="comment-head">
            <input type="text" id="comment-username" placeholder="Name (optional)">
            <input type="text" id="comment-email" placeholder="Email (optional)">
            <input type="text" id="comment-password" placeholder="Website (optional)">
        </div> -->
        <div class="comment-body">
            <textarea type="text" id="comment-content" placeholder="Comment (at least 3 chars)"></textarea>
        </div>
        <div class="comment-foot">
            <input type="text" id="comment-username" placeholder="Name (optional)">
            <input type="text" id="comment-email" placeholder="Email (optional)">
            <button id="comment-submit-button" onclick="onClickSubmitCommentButton()">Submit</button>
        </div>
        <!-- <div class="comment-foot">
            <button id="comment-submit-button">Submit</button>
        </div> -->
    </div>
    <div class="comment-list">
    </div>
</div>