{% extends "common.html" %}
<!--  -->
{% block title %}
{{ article.title }}
{% endblock %}
<!--  -->
{% block head %}
<input type="hidden" id="article-url" value="{{ article.url }}">
<div>
    {{ super() }}
    <link href="{{ SITEURL }}/{{ article.url }}" rel="canonical" />
    {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}">
    {% endfor %}
    <!--  -->
    {% if description %}
    <meta name="description" content="{{ description }}">
    {% elif article.headline %}
    <meta name="description" content="{{ article.headline }}">
    {% elif article.summary %}
    <meta name="description" content="{{ article.summary|striptags|truncate(140) }}">
    {% endif %}
    <!--  -->
    {% for author in article.authors %}
    <meta name="author" content="{{ author }}">
    {% endfor %}
    <!--  -->
    {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}">
    {% endfor %}
</div>
{% endblock %}
<!--  -->
{% block twitter_card %}
<div>
    {% for name,link in SOCIAL if name.lower() in ['twitter'] %}
    <div>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
        <meta name="twitter:title" content="{{ article.title }}">
        <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
        <!--  -->
        {% if article.twitter_image %}
        <div>
            {% if article.twitter_image|lower|truncate(4, True, '') == "http" %}
            <meta name="twitter:image:src" content="{{ article.twitter_image }}">
            {% else %}
            <meta name="twitter:image:src" content="{{ SITEURL }}/{{ article.twitter_image }}">
            {% endif %}
        </div>
        {% elif article.header_cover %}
        <meta name="twitter:image:src" content="{{ SITEURL }}/{{ article.header_cover }}">
        {% elif HEADER_COVER %}
        <meta name="twitter:image:src" content="{{ SITEURL }}/{{ HEADER_COVER }}">
        {% else %}
        <meta name="twitter:image:src" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
        {% endif %}
        <!--  -->
        {% if description %}
        <meta name="twitter:description" content="{{ description }}">
        {% elif article.headline %}
        <meta name="twitter:description" content="{{ article.headline }}">
        {% else %}
        <meta name="twitter:description" content="{{ article.summary|striptags|truncate(140) }}">
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
<!--  -->
{% block opengraph %}
{{ super() }}
<meta property="og:type" content="article">
<!-- {% for author in article.authors %} -->
<meta property="article:author" content="{{ SITEURL }}/{{ author.url }}">
<!-- {% endfor %} -->
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
<meta property="og:title" content="{{ article.title }}">
<meta property="article:published_time" content="{{ article.date }}">
<!-- {% if description %} -->
<meta property="og:description" content="{{ description }}">
<!-- {% elif article.headline %} -->
<meta property="og:description" content="{{ article.headline }}">
<!-- {% elif article.summary %} -->
<meta property="og:description" content="{{ article.summary|striptags|truncate(140) }}">
<!-- {% endif %} -->
<!-- {% if article.og_image %} -->
<div>
    <!-- {% if article.og_image|lower|truncate(4, True, '') == "http" %} -->
    <meta property="og:image" content="{{ article.og_image }}">
    <!-- {% else %} -->
    <meta property="og:image" content="{{ SITEURL }}/{{ article.og_image }}">
    <!-- {% endif %} -->
</div>
<!-- {% elif article.header_cover %} -->
<meta property="og:image" content="{{ SITEURL }}/{{ article.header_cover }}">
<!-- {% elif HEADER_COVER %} -->
<meta property="og:image" content="{{ SITEURL }}/{{ HEADER_COVER }}">
<!-- {% else %} -->
<meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
<!-- {% endif %} -->
{% endblock %}
<!--  -->
{% block header %}
<!-- Progressbar -->
<div class="progress-container">
    <span class="progress-bar"></span>
</div>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="article-header">
    <div class="container">
        <h1 class="header-title">{{ article.title }}</h1>
        <!-- <span class="blog-description">{{ article.headline }}</span> -->
        <span class="article-meta">
            <!-- {% if article.category not in ['About'] %} -->
            <!-- {% endif %} -->
            <div class="group">
                <a href="/{{ article.category.url }}">
                    {{ article.category }}
                </a>
                <span class="seperator">|</span>
                <time datetime="{{ article.locale_date }}">{{ article.locale_date }}</time>
            </div>
            <!-- {% if article.tags %} -->
            <div class="group article-tags">
                <!-- <aside class="article-tags"> -->
                <!-- {% for tag in article.tags %} -->
                <a href="/{{ tag.url }}">{{ tag | escape }}</a>
                <div>
                    {% if not loop.last %}
                    {% endif %}
                </div>
                <!-- {% endfor %} -->
                <!-- </aside> -->
            </div>
            <!-- {% endif %} -->
        </span>
    </div>
</header>
{% endblock header %}
<!--  -->
{% block content %}
<main class="content">
    <div class="container">
        <section class="article-content">
            {{article.content}}
        </section>
        <section class="article-info">
            <!-- <div class="post-share">
                <a class="twitter" href="https://twitter.com/share?text={{ article.title }}&amp;url={{ SITEURL }}/{{ article.url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="ic ic-twitter"></i><span class="hidden">Twitter</span>
                </a>
                <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ article.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="ic ic-facebook"></i><span class="hidden">Facebook</span>
                </a>
                <a class="googleplus" href="https://plus.google.com/share?url={{ SITEURL }}/{{ article.url }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <i class="ic ic-googleplus"></i><span class="hidden">Google+</span>
                </a>
                <div class="clear"></div>
            </div> -->
            <!-- {% if article.tags %}
            <aside class="article-tags">
                <div class="article-tags-header">TAGS</div>
                {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
                <div>
                    {% if not loop.last %}
                    {% endif %}
                </div>
                {% endfor %}
            </aside>
            {% endif %} -->
            <div class="clear"></div>
            {% for author in article.authors %}
            <div>
                {% if AUTHORS_BIO and author.name.lower() in AUTHORS_BIO %}
                <aside class="post-author">
                    {% if AUTHORS_BIO[author.name.lower()].image %}
                    <figure class="post-author-avatar">
                        <img src="{{AUTHORS_BIO[author.name.lower()].image}}" alt="{{author.name}}" />
                    </figure>
                    {% endif %}
                    <div class="post-author-bio">
                        <h4 class="post-author-name"><a href="/{{author.url}}">{{author.name}}</a></h4>
                        {% if AUTHORS_BIO[author.name.lower()].bio %}
                        <p class="post-author-about">{{AUTHORS_BIO[author.name.lower()].bio}}</p>
                        {% endif %}
                        <!--  -->
                        {% if AUTHORS_BIO[author.name.lower()].location %}
                        <span class="post-author-location"><i class="ic ic-location"></i> {{AUTHORS_BIO[author.name.lower()].location}}</span>
                        {% endif %}
                        <!--  -->
                        {% if AUTHORS_BIO[author.name.lower()].website %}
                        <span class="post-author-website"><a href="{{AUTHORS_BIO[author.name.lower()].website}}"><i class="ic ic-link"></i> Website</a></span>
                        {% endif %}
                        <!--  -->
                        {% if AUTHORS_BIO[author.name.lower()].twitter %}
                        <span class="post-author-twitter"><a target="_blank" href="https://twitter.com/{{AUTHORS_BIO[author.name.lower()].twitter}}"><i class="ic ic-twitter"></i> Twitter</a></span>
                        {% endif %}
                        <!--  -->
                        {% if AUTHORS_BIO[author.name.lower()].facebook %}
                        <span class="post-author-facebook"><a target="_blank" href="https://facebook.com/{{AUTHORS_BIO[author.name.lower()].facebook}}"><i class="ic ic-facebook"></i> Facebook</a></span>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </aside>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        {% include "article-navigation.html" %}
    </div>
</main>
{% endblock content %}