<div class="article-comment">
    <div class="comment-title">
        <div class="comment-count"></div>
    </div>
    <div class="comment-input">
        <div class="comment-body">
            <textarea type="text" id="comment-content" placeholder="Comment (at least 3 chars)"></textarea>
        </div>
        <div class="comment-foot">
            <input type="text" id="comment-username" placeholder="Name (optional)">
            <input type="text" id="comment-email" placeholder="Email (optional)">
            <button id="comment-submit-button" onclick="onClickSubmitCommentButton()">Submit</button>
        </div>
    </div>
    <div class="comment-list">
    </div>
</div>