{% extends "common-index.html" %}
<!--  -->
{% block title %}
{{ SITENAME }} - Authors
{% endblock title %}
<!--  -->
{% block header %}
<header id="blog-header" class="authors-header">
    <div class="container">
        <h1 class="header-title">Articles by {{ author|capitalize }}</h1>
        <span class="article-meta"></span>
    </div>
</header>
{% endblock header %}
<!--  -->
{% block content %}
<div>
    <!-- {% for author, articles in authors|sort %} -->
    <article class="post">
        <div class="container">
            <a href="/{{ author.url }}" rel="bookmark">
                <h2 class="post-title">
                    {{ author }} ({{ articles|count }})
                </h2>
            </a>
        </div>
    </article>
    <div>
        {% if not loop.last %}
        <hr>
        {% endif %}
    </div>
    <!-- {% endfor %} -->
</div>
{% endblock content %}