{% extends "common.html" %}
<!--  -->
{% block title %}
{{ SITENAME }} - Categories
{% endblock %}
<!--  -->
{% block header %}
<header class="categories-header">
    <div class="container">
        <div class="header-title">Find in Categories</div>
    </div>
</header>
{% endblock header %}
<!--  -->
{% block content %}
<div class="categories-body">
    <div class="container">
        <!-- {% for category, articles in categories|sort %} -->
        <article class="article">
            <span class="title">
                <a href="/{{ category.url }}">{{ category }}</a>
            </span>
            <span class="count">
                <label>{{ articles|count }}<label>
            </span>
        </article>
        <!-- {% endfor %} -->
    </div>
</div>
{% endblock content %}