<footer class="footer">
    <div class="container">
        <!-- <div class="footer-line"></div> -->
        <div class="credits">
            <div class="group">
                <a class="avatar" href="/resume.html">
                    <img class="avatar" src="https://avatars1.githubusercontent.com/u/21299773?s=460&v=4">
                </a>
            </div>
            <!-- <a href="https://github.com/peppy0510" target="_blank">
                Taehong Kim's GitHub
            </a> -->
            <div class="group">
                <a href="/resume.html">
                    Resume
                </a>
                <a href="/category/about-music.html">
                    About Music
                </a>
                <a href="/category/about-development.html">
                    About Development
                </a>
            </div>
            <div class="group">
                <a href="/archives.html">
                    Archives
                </a>
                <a href="/tags.html">
                    Tags
                </a>
                <a href="/categories.html">
                    Categories
                </a>
            </div>
            <!-- <div class="group">
                <a href="/category/music.html">
                    Music
                </a>
                <a href="/category/technology.html">
                    Technology
                </a>
                <a href="/category/development.html">
                    Development
                </a>
            </div> -->
            <div class="group">
                <a href="https://github.com/peppy0510" target="_blank">GitHub</a>
                <!-- <a href="https://github.com/getpelican/pelican">Python</a> -->
                <!-- <a href="https://github.com/getpelican/pelican" target="_blank">Pelican</a> -->
            </div>
            <!-- <span class="credits-theme">Theme <a href="https://github.com/arulrajnet/attila" rel="nofollow">Attila</a></span> -->
            <!-- <span class="credits-software">Published with <a href="https://github.com/getpelican/pelican" rel="nofollow">Pelican</a></span> -->
        </div>
    </div>
</footer>