<footer class="footer">
    <div class="container">
        <div class="credits">
            <div class="group-container">
                <div class="group">
                    <a class="avatar" href="/authors-information.html">
                        <img class="avatar" src="https://avatars1.githubusercontent.com/u/21299773?s=460&v=4">
                    </a>
                </div>
                <div class="group">
                    <a href="/category/authors-music.html">
                        Author's Music
                    </a>
                    <a href="/category/authors-mixset.html">
                        Author's Mixset
                    </a>
                    <a href="/category/authors-development.html">
                        Author's Development
                    </a>
                </div>
            </div>
            <div class="group-container">
                <div class="group">
                    <a href="/category/music-articles.html">
                        Music Articles
                    </a>
                    <a href="/category/development-articles.html">
                        Development Articles
                    </a>
                </div>
                <div class="group">
                    <a href="/archives.html">
                        Find in Archives
                    </a>
                    <a href="/categories.html">
                        Find in Categories
                    </a>
                    <a href="/tags.html">
                        Find in Tags
                    </a>
                </div>
                <div class="group">
                    <a href="https://github.com/peppy0510" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</footer>