<div class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo-muteklab.svg">
        </a>
        <div class="navbar-header">
            <button class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-modal-mask"></div>
        <div class="navbar-menu">
            <div class="dropdown">
                <button class="dropdown-toggle">
                    Author<b class="caret"></b>
                </button>
                <div class="dropdown-menu">
                    <a href="/authors-information.html">Information</a>
                    <div class="divider"></div>
                    <a href="/category/authors-music.html">Music</a>
                    <a href="/category/authors-mixset.html">Mixset</a>
                    <a href="/category/authors-development.html">Development</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle">
                    Find<b class="caret"></b>
                </button>
                <div class="dropdown-menu">
                    <a href="/archives.html">Archives</a>
                    <a href="/categories.html">Categories</a>
                    <a href="/tags.html">Tags</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle">
                    Articles<b class="caret"></b>
                </button>
                <div class="dropdown-menu">
                    <a href="/category/music-articles.html">Music</a>
                    <a href="/category/development-articles.html">Development</a>
                </div>
            </div>
        </div>
    </div>
</div>