{% extends "common-index.html" %}
<!--  -->
{% block title %}
{{ page.title }}
{% endblock title %}
<!--  -->
{% block header %}
<header id="post-header" class="has-cover">
    <div class="inner">
        <div class="post-title">{{ page.title }}</div>
        {% if page.header_cover %}
        <div class="post-cover cover" style="background-image: url('{{ page.header_cover }}')"></div>
        {% elif HEADER_COVER %}
        <div class="post-cover cover" style="background-image: url('{{ HEADER_COVER }}')"></div>
        {% elif HEADER_COLOR %}
        <div class="post-cover cover" style="background-color: {{ HEADER_COLOR }}"></div>
        {% else %}
        <div class="post-cover cover" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg')"></div>
        {% endif %}
    </div>
</header>
{% endblock header %}
<!--  -->
{% block content %}
<main class="content" role="main">
    <article class="post">
        <div class="inner">
            <section class="post-content">
                {{page.content}}
            </section>
        </div>
    </article>
</main>
{% endblock content %}