{% extends "common.html" %}
<!--  -->
{% block title %}
{{ SITENAME }} - Tags
{% endblock %}
<!--  -->
{% block header %}
<header class="tags-header">
    <div class="container">
        <div class="header-title">Find in Tags</div>
    </div>
</header>
{% endblock header %}
<!--  -->
{% block content %}
<main class="tags-body">
    <div class="container">
        <!-- {% for tag, articles in tags|sort %} -->
        <article class="article">
            <span class="title">
                <a href="/{{ tag.url }}">{{ tag }}</a>
            </span>
            <span class="count">
                <label>{{ articles|count }}<label>
            </span>
        </article>
        <!-- {% endfor %} -->
    </div>
</main>
{% endblock content %}