/*
author: Taehong Kim
email: peppy0510@hotmail.com
*/


.article-content {
    padding-top: 15px;
    padding-bottom: 30px;
    div.table {
        display: table-cell;
        div {
            &:first-child {
                background-color: #F0F0F0;
            }
            div {
            }
        }
    }

    table {
        clear: both;
        border-spacing: 0;
        border-collapse: collapse;
        thead,
        tbody,
        thead tr,
        tbody tr,
        thead tr td,
        tbody tr td {
            margin: 0;
            clear: both;
        }
        thead tr th,
        tbody tr td {
            font-size: 9pt;
            line-height: 12pt;
            border: 1px solid #D8D8D8;
            padding: 5px 6px 3px 6px;
            &[align='center'] {
                text-align: center;
            }
            a {
                font-size: 9pt;
            }
        }
        thead {
            tr {
                th {
                    background-color: #F0F0F0;
                }
            }
        }
        &.rotate {
            tbody tr td:first-child {
                font-weight: bold;
                background-color: #F0F0F0;
            }
        }
        &.center {
            tbody tr td {
                text-align: center;
            }
        }
    }

    div.highlight {
        padding-top: 6px;
        padding-bottom: 8px;
        pre {
            font-family: 'Consolas', Monaco, monospace;
            font-size: 10pt;
            line-height: 15pt;
            padding: 8px 12px;
            border: 1px solid #F0F0F0;
            background-color: #F8F8F8;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        a {
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

    h1 {
        font-size: 18pt;
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #E8E8E8;
    }
    h2 {
        font-size: 16pt;
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #E8E8E8;
    }
    h3 {
        font-size: 14pt;
        line-height: 20pt;
        margin-bottom: 8px;
        margin-top: 20px;
    }
    h4 {
        font-size: 11pt;
        margin-top: 6px;
        margin-bottom: 8px !important;
        color: #FFFFFF;
        background-color: #A0A0A0;
        padding: 4px 6px 4px 6px !important;
        display: inline-flex;
    }
    h5 {
        font-size: 11pt;
        margin-bottom: 8px;
        margin-top: 20px;
        text-decoration: none;
        font-weight: bold;
    }
    h6 {
        font-size: 10pt;
        margin-top: 20px;
        color: #808080;
    }

    blockquote {
        font-size: 100%;
    }

    p {
        font-size: 11pt;
        line-height: 18pt;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    p,
    ul li {
        code {
            font-size: 10pt;
            line-height: 16pt;
            margin-top: -4px;
            margin-right: 2px;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 4px;
            padding-right: 4px;
            display: inline-flex;
            vertical-align: middle;
            align-items: center;
            border-radius: 2px;
            color: #606060;
            background-color: #F0F0F0;
            font-family: 'Consolas', Monaco, monospace;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        li {
            font-size: 11pt;
            line-height: 18pt;
            padding-left: 16px;
            text-indent: -16px;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
            }
            &:before {
                color: #606060;
                content: '\2022';
                margin-right: 10px;
            }
        }
    }
    ul li ul li {
        &:before {
            content: '\25E6';
        }
    }
    hr {
        height: 1px;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #E8E8E8;
    }
    a {
        color: #808080;
        font-size: 11pt;
        line-height: 16pt;
        text-decoration: none;
        word-break: break-all;
        display: inline-block;
        &:hover {
            color: #FF2020;
            text-decoration: none;
        }
    }
    .buttons {
        display: flex;
        a.button:not(:first-child) {
            margin-left: 10px;
        }
    }
    p,
    .buttons {
        a.button {
            height: 25px;
            font-size: 10pt;
            line-height: 10pt;
            font-weight: bold;
            color: #808080;
            border-radius: 8px;
            text-decoration: none;
            border: 1px solid #D8D8D8;
            padding-left: 10px;
            padding-right: 10px;
            padding: 5px 15px 5px 15px;
            min-width: 75px;
            text-align: center;
            display: inline-block;
            &:hover {
                background-color: #F8F8F8;
            }
            &:active {
                background-color: #F8F8F8;
                -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,.025);
                   -moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,.025);
                        box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,.025);
            }
            label {
                margin: auto;
            }
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    youtube {
        display: none;
    }

    .fluid-width-video-wrapper {
        margin-bottom: 10px;
    }

    img,
    .fluid-width-video-wrapper {
        max-width: 100%;
        margin-top: 7px;
        &[src*='#mw25'] {
            margin: 1px 0;
            max-width: calc(25% - 1px);
        }
        &[src*='#mw50'] {
            max-width: calc(50% - 1px);
            margin-top: -5px;
            &:nth-child(1),
            &:nth-child(2) {
                margin-top: 0;
            }
            &:nth-child(odd) {
                margin-right: 2px;
            }
        }
        &[src*='#mw100'] {
            max-width: 100%;
        }
    }

    .audio-player {
        margin-top: 10px;
        audio {
            width: 100%;
            height: 60px;
            outline: none;
            &::-webkit-media-controls-panel {
                background: transparent;
                background-color: transparent;
                border-radius: 4px !important;
            }
        }
        .information {
            width: 100%;
            height: 32px;
            display: flex;
            overflow: hidden;
            border: 1px solid #E8E8E8;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-color: #F8F8F8;
            p {
                margin: auto;
                color: #808080;
            }
        }
        .waveform {
            width: 100%;
            height: 40px;
            display: flex;
            cursor: pointer;
            overflow: hidden;
            text-align: center;
            position: relative;
            background-color: #FFFFFF;
            border-left: 1px solid #E8E8E8;
            border-right: 1px solid #E8E8E8;
            .waveform-canvas {
                width: 100%;
                height: 100%;
            }
            .waveform-cursor {
                position: absolute;
                background-color: #FF0000;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
            }
            .processing-icon {
                width: 30px;
                height: 30px;
                display: none;
                margin: auto;
                align-items: center;
                position: absolute;
                top: 5px;
                left: calc(50% - 15px);
            }
        }
        .toolbar {
            width: 100%;
            height: 32px;
            display: flex;
            text-align: center;
            border: 1px solid #E8E8E8;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: #F8F8F8;
            .current-time,
            .duration-time {
                margin: auto;
                font-size: 10.5pt;
                color: #808080;
                user-select: none;
                font-family: 'Consolas', Monaco, monospace;
            }
            .backward-audio-button,
            .toggle-audio-button {
                width: 45px;
                height: 24px;
                outline: none;
                color: #808080;
                box-shadow: none;
                background: none;
                border: 1px solid #D8D8D8;
                background-color: #FFFFFF;
                padding: 0 4px 3px 4px;
                display: flex;
                align-items: center;
                vertical-align: middle;
                cursor: pointer;
                &:hover,
                &:active {
                    background-color: #F8F8F8;
                }
                &:not(:hover) {
                    background-color: #FFFFFF;
                }
                .glyphicon {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    font-size: 10pt;
                    line-height: 10pt;
                    user-select: none;
                    margin: auto auto auto auto;
                }
            }
            .backward-audio-button {
                border-right: none;
                margin: auto 0 auto 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                padding-left: 3px;
            }
            .toggle-audio-button {
                margin: auto 0 auto 0;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                .glyphicon-pause {
                    display: none;
                }
            }
        }
    }
    .mixcloud {
        width: 100%;
        height: 120px;
        iframe {
            width: 100%;
            height: 120px;
        }
    }
    .mixcloud-container {
        padding: 0;
        display: flex;
        padding-top: 0;
        margin-top: 18px;
        overflow: hidden;
        position: relative;
        iframe {
            top: 0;
            left: 0;
            width: 100%;
            height: 120px;
            margin-bottom: 4px;
        }
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    & > * {
        &:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
